body {
    padding: 20px;
}

.App {
    /* 'margin: 0 auto'는 화면 상의 남는 부분을 자동으로 마진으로 설정하여 가운데 배치 */
    margin : 0 auto;
    width: 400px;
}

.App > section {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(240,240,240);
    border-radius: 5px;
    padding:20px;
    margin-bottom: 10px;
}