.Editor {
    display: flex;
    gap: 10px;
}

.Editor > input {
    flex: 1;
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

/* 요소:동작 */
.Editor > input:focus {
    /* focus 됐을 때 선 굵어지는 원래 효과 없앰 */
    outline: none;
    /* 새로운 경계선 설정 */
    border: 1px solid rgb(37, 147, 255);
}

.Editor > button {
    /* 버튼의 커서를 손가락 모양 */
    cursor: pointer;
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: rgb(37, 147, 255);
    /* 버튼의 글자 색상 */
    color: white;
}